div {
    width: 200px;
    height: 200px;
    background-color: #252422;
    color: cyan;
}
body {
    background-color: black;
    margin: 0;
}  
#one {
   background-color: #0b090a;
   border-width: 5px;
   border-color: #c6ac8f;
   border-style: dashed solid;
   box-sizing: border-box;
   text-align: center;
}
#two {
    background-color: #161a1d;
    border-width: 5px;
    border-color: rgb(236, 183, 191);
    border-style: solid;
    box-sizing: border-box;
    text-align: center;
    margin-left: 400px;
}
#three {
border: 4px solid white;
border-left-style: dashed;
border-left-width: 6px;
box-sizing: border-box;
border-radius: 10px;
text-align: center;
}

/*IamDogTest Start*/
.card {
    width:210px;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    margin-left: 200px;
}
img {
    width: 200px;
    border: 5px solid rgb(236, 183, 191);
    border-radius: 50%;
} /*IamDogTest End*/

span {
    /* background-color: burlywood; */
    color: black;
    padding: 10px 20px 10px 20px;
}
section div {
    color: red;
}         