h1 {
    text-decoration: #00ffef underline wavy;
    text-align: center;
    letter-spacing: 15px;
    font-family: copper;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}
h2 {
    color: teal;
}
button {
    color: red;
}
text {
    font-family: font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}
