body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    background-color: #003049;
    width: 90%;
    height: 100px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#container div {
    width: 90px;
    height: 90px;
    /* optional */
    min-width: none;
    max-width: none;
    min-height: none;
    max-height: none;
    flex-basis: none; /* start-size */
    flex-grow: none;
    flex-shrink: none;
    /* optional-End */
    flex: none;  /* 1-3 values which is basically all of the other ones combined */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 2em;
    
}

div:nth-last-of-type(1){
    align-self: center;
    flex-grow: 1;
}

div:nth-last-of-type(5){
    align-self: center;
    flex-grow: 1;
    /* flex-grow is all about perportions */
}