<%- include("partials/head") %>


    <%- include("partials/navbar") %>

        <h1>The Home Page <%="hello world".toUpperCase()%>
        </h1>
        <p>Bacon ipsum dolor amet prosciutto jerky short loin, drumstick bacon tri-tip
            spare ribs pig porchetta. Pork capicola picanha pig tail, drumstick ribeye rump beef ribs jowl alcatra
            boudin.
            Chicken cupim tri-tip, salami brisket bacon shank shankle sirloin landjaeger strip steak pig tail
            burgdoggen.
            Capicola tri-tip buffalo, rump andouille t-bone salami pork chop boudin cow. Kielbasa pork belly tail,
            andouille
            hamburger drumstick ground round brisket. Ground round biltong chislic meatball strip steak, filet
            mignon buffalo boudin salami kielbasa.

            Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
        </p>
        <p>
            Meatball chislic andouille shoulder drumstick beef shank, pastrami prosciutto brisket filet mignon pork
            belly
            porchetta. Short ribs pancetta tenderloin prosciutto, andouille drumstick brisket buffalo pork loin
            chicken
            salami alcatra shank doner cow. Pig tail hamburger leberkas prosciutto landjaeger. Salami sausage flank
            picanha,
            turducken short loin tail beef ribs frankfurter meatloaf.
        </p>

        <%- include("partials/footer") %>